// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
$jobdescripgrey: #8081AA;
$descriptiongrey2: #7a7bd3;
$descriptionblue: #8091ED;
// First Blue
$firstblue: #58a6ff;
$savethis: #7273ad;

// WHOLE PAGE
* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    body {
        background-color: $darkblue;
        .container {
            background-color: $darkblue;
        }
    }
}

// REM AND EMS
    // em -  "my parent element's font-size"
    // rem -  "The root element's font-size"
    // Boxes Buttons and Fonts

// VH VW
    // Boxes Buttons and Fonts

// LH AND RLH
    // lh - line height
    // rlh - root line height
    // for paragraphs

// PERCENTAGE 
    // the percentage of the parent element
    // for page content 
        // or anything else

// CH
    //  character width
    // 	The advance measure (width) of the glyph "0" of the element's font.
        // basically the distance of a 0.
    //  works on gap mesurements for me

// DESKTOPS 

// 1500 px includes My Laptop
@media screen and (min-width: 1500px) {
    // body {
    //     display: none;
    // }

    // HOME SECTION
    #home_section_id {
        display: flex;
        flex-direction: column;
        background-color: $darkblue;
        height: 105vh;
        // DESKTOP NAVBAR
        .desktop_nav {
            // move margin of whole thing here
            // margin: 6vh 7vw 0 0;
            // background-color: #7273ad;
            margin: 10ch 15ch 0 0;
            ul {
                display: flex;
                justify-content: right;
                gap: 3ch;
                gap: 5ch;
                li {
                    list-style: none;
                    font-size: 1.2rem;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                    }
                    #selected {
                        color: $darkblue;
                        border: 1px solid white;
                        background-color: white;
                        padding: .5ch;
                        border-radius: 5px;
                    }
                }
            }
        }
        // MOBILE NAVBAR
        .mobile_nav {
            display: none;
        } 
        .home_section_content {
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 100vh;
            // margin: -10vh 0 0 -5vw;
            // margin: -10ch 0 0 0;
            margin: 15ch 0 0 0;
            // background-color: red;
            gap: 30ch;
            .logo_div {
                // background-color: red;
                width: 30.5em;
                height: 30.5em;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .back_logo {
                    background-color: white;
                    width: 30.5em;
                    height: 30.5em;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .front_logo {
                        #logo_home {
                            // width: 25vw;
                            // height: 25vw;
                            width: 28em;
                            height: 28em;
                        }
                    }
                }
            }
            // HOME CONTENT WORDS AND SOCIALS
            .word_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.5ch;
                // NAME AND DESCRIPTION
                .name_description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .home_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: 3rem;
                    }
                    .job_description {
                        color: $descriptionblue;
                        background-color: $portfolios;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.6rem;
                        width: 16em;
                        height: 2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        // padding: 1em 1em;
                    }
                }
                .home_slogan {
                    text-align: center;
                    font-family: 'Inter', sans-serif;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: white;
                    margin: .3em;
                }
                .home_socials {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8ch;
                    #github {
                        width: 3em;
                        height: 3em;
                    }
                    #twitter {
                        width: 3em;
                        height: 3em;
                    }
                    #linkedin {
                        width: 3em;
                        height: 3em;
                    }
                    #instagram {
                        width: 3.5em;
                        height: 3.5em;
                    }
                }
                .learn_more {
                    width: 26em;
                    height: 3em;
                    background-color: $portfolios;
                    border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        color: $descriptionblue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.2rem;
                        text-decoration: none;
                    }
                }
            }
        }
        
    }
    // ABOUT SECTION DESKTOP 1500
    #about_section_id {
        // background-color: red;
        .about_section_class {
            display: flex;
            flex-direction: column;
            background-color: $nextgreen;
            height: 105vh;
            .title_nav {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                margin: 10ch 15ch 0 0;
                // background-color: #7273ad;
                // ABOUT NAVBAR
                .about_desktop_nav {
                    // move margin of whole thing here
                    ul {
                        display: flex;
                        justify-content: right;
                        gap: 3ch;
                        gap: 5ch;
                        li {
                            list-style: none;
                            font-size: 1.2rem;
                            a {
                                text-decoration: none;
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                            }
                            #selected {
                                color: $darkblue;
                                border: 1px solid white;
                                background-color: white;
                                padding: .5ch;
                                border-radius: 5px;
                            }
                        }
                    }
                }
                .section_title {
                    p {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-weight: bold;
                        font-size: 4rem;
                        margin: -.8ch 0 0 3ch;
                    }
                }
            }
            // ABOUT SECTION CONTENT
            .about_section_content {
                margin: 8ch 0 0 16.5ch;
                width: 86%;
                line-height: 2.5em;
                p {
                    color: white;
                    font-size: 1.5rem;
                    font-family: 'Inter', sans-serif;
                }
                .brand_is {
                    margin: 2em 0 2em 0;
                    .brand {
                        gap: 2ch;
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.5rem;
                        #about_logo {
                            width: 6em;
                            height: 6em;
                        }
                    }
                }
                p {
                    color: white;
                    font-size: 1.5rem;
                    font-family: 'Inter', sans-serif;
                }
            }
            .download_resume {
                background-color: white;
                width: 26em;
                height: 3em;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5ch 0 0 16.5ch;
                a {
                    color: $nextgreen;
                    font-family: 'Inter', sans-serif;
                    font-weight: bold;
                    font-size: 1.2rem;
                    text-decoration: none;
                }
            }
        }
    }
}