// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
$jobdescripgrey: #8081AA;
$descriptiongrey2: #7a7bd3;
$descriptionblue: #8091ED;
// First Blue
$firstblue: #58a6ff;
$savethis: #7273ad;

// WHOLE PAGE
* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    body {
        background-color: $darkblue;
        .container {
            background-color: $darkblue;
        }
    }
}

// REM AND EMS
    // em -  "my parent element's font-size"
    // rem -  "The root element's font-size"
    // Boxes Buttons and Fonts

// VH VW
    // Boxes Buttons and Fonts

// LH AND RLH
    // lh - line height
    // rlh - root line height
    // for paragraphs

// PERCENTAGE 
    // the percentage of the parent element
    // for page content 
        // or anything else

// CH
    //  character width
    // 	The advance measure (width) of the glyph "0" of the element's font.
        // basically the distance of a 0.
    //  works on gap mesurements for me

// DESKTOPS 

// 1500 px includes My Laptop
@media screen and (min-width: 1500px) {
    // body {
    //     display: none;
    // }

    // HOME SECTION
    #home_section_id {
        .home_section_class {
            // This is the whole blue home section
            
        }
    }
}